* {
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--font-poppins);
}
body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #2785DD;
}

.sidenav {
  background-color: var(--bs-white);
  border-right: 2px solid rgba(39, 133, 221, 0.1);  
}
.content {
  background-color: var(--bs-white);
}
.menu img {
  width: 20px;
  height: 20px;
}
.active {
  color: #2785DD;
  filter: brightness(100%);
}